// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:  Verdana, sans-serif;
$primary-color: #309;

h1 {
  font: 100% $font-stack;
  color: $primary-color;
}
